[submodule "gem5_bump"]
	path = gem5/gem5
	url = https://github.com/gem5/gem5.git
[submodule "gem5"]
	path = gem5
	url = https://github.com/gem5/gem5.git
[submodule "RISCV_gcc"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
